/*. var. */
:root{
  --main-color: #884A39;
  --sec-color: #F9E0BB;
  --section-padding: 100px;
  --section-background: #f6f6f6;
}
/* end var*/
/*global rules*/
*{
  box-sizing: border-box;
}
body{
  font-family: "Work Sans", sans-serif;
  background-color: #f6f6f6;
}
body::selection{
   color: var(--sec-color);
  background-color: rgb(226, 226, 246);
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*end global rules*/
/*start header*/
header {
  position: sticky;  
  top: 0;            
  z-index: 1000;
  background-color: none;
}

header .container1{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: var(--sec-color);
  height: 75px;
}
.container1 .logo{
  width: 127px;
}
header .container2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container2 .logo{
  width: 60px;
}
header .container2 .ulicone{ 
  position: relative;
}
header .container2 .ulicone:hover .icon span:nth-child(2){
  width: 100%;
}
header .ulicone .icon{
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .ulicone .icon span{
  background-color: #333;
  height: 2px;
  margin-bottom: 3px;
}
header .ulicone .icon span:first-child{
  width: 100%;
}
header .ulicone .icon span:nth-child(2){
  width: 60%;
  transition: .3s;
}
header .ulicone .icon span:last-child{
  width: 100%;
}
header .ulicone ul{ 
  list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;

}
header .ulicone ul::before{
  content: "";
  border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
header .ulicone:hover ul{
  display: block;
}
header .ulicone ul li{
  display: block;
  padding: 15px;
  color: #333;
  transition: 0.3s;
}
header .ulicone ul li :hover{
  padding-left: 25px;
}
header .ulicone ul li:not(:last-child){
  border-bottom: 1px solid #ddd;
}
/*end hed*/
/*start landing*/
.landing{
  padding-bottom: 0;
  display: flex;
  margin-bottom: 0%;
  height: 100%;
}
.landing .image{
  display: flex;
    position: relative;
    width: 55%;
    margin-left: 278px;
    margin-top: -12%;
    z-index: -1;
}
.landing p{
  display: flex;
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
}
.landing p:first-of-type{
  margin-left: 410px;
  margin-top: 147px;
}
.landing p:nth-child(2){
    margin-left: 360px;
    margin-top: 225px;
    z-index: 1;
}
.landing p:nth-child(3){
    margin-left: 680px;
    margin-top: 225px;
    z-index: 1;
}
.landing span{
  color: #DE9A35;
}
.landing .button{
    display: flex;
    position: absolute;
    gap: 20px;
    margin-top: 500px;
    margin-left: 950px;
}
.landing .button button{
  border-radius: 20px;
  width: 136px;
  height: 50px;
}
.landing button:first-of-type{
  background-color: var(--main-color);
  color: var(--section-background);
  border: none;
}
.landing button:last-of-type{
  background-color: none;
  color: var(--main-color);
  border-color: var(--main-color);
}
.landing .text {
  display: block;
  position: absolute;
  width: 500px;
  font-size: 22px;
  margin-top: 330px;
  margin-left: -130px;
}
.landing .text h3{
  color: var(--main-color);
  margin-left: 10px;
}

/*end landing*/
/*start objective*/
.objective{
  background-color: var(--main-color);
  padding-bottom: var(--section-padding);
}
.objective h1{
  text-align: center;
  margin: 0%;
}
.objective .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.objective .obj {
  padding: 20px;
  text-align: center;
  background-color: var(--sec-color);
  border-radius: 20px;
}
/*ene a job*/
/*start  education*/
.education {
  padding-top: var(--section-padding);
}
.education h1{
  text-align: center;
  color: var(--main-color);
}
.education .container{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.education .image{
  position: relative;
  width: 350px;
  height: 475px;
}
.education .image img{
  max-width: 100%;
}
.education .container .image::before{
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 120px;
  height: calc(100% + 80px);
  top: -50px;
  left: -25px;
  z-index: -1;
}
.education .container .text{
  flex-basis: calc(100% - 500px);
  text-align: center;
  font-size: 20px;
}
.education .container .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.education .container .text hr{
  width: 70%;
  display: inline-block;
  border-color: var(--main-color);
  color: var(--main-color);
}
/*end education*/
/*stars skills*/
.skills{
  padding-top: var(--section-padding);
}
.skills h1{
  text-align: center;
  color: var(--main-color);
  margin: 0%;
}
.skills .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.skills .skill {
  padding: 20px;
  text-align: center;
  background-color: var(--sec-color);
  border-radius: 50%;
}
.skills .skill .text{
  font-size: 17px;
}
.skills .skill .image {
  width: 155px;
  height: 170px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.skills .skill .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*end skills*/
/*start experience*/
.experience{
  padding-top: var(--section-padding);
}
.experience h1{
  text-align: center;
  color: var(--main-color);
  margin: 0%;
}
.experience .container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}
.experience .container .ex{
  text-align: center;
  margin-top: 50px;
  border-bottom: 3px solid var(--main-color);
}
.experience .container .ex .text{
  font-size: 20px;
}
/*end experience*/
/*start projects*/
.projects{
  padding-bottom: var(--section-padding);
}
.projects h1{
  text-align: center;
  margin-bottom: 80px;
  font-size: 40px;
  margin-top: var(--section-padding);
  color: var(--main-color);
}
.projects .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.projects .container .pro{
  background-color: var(--sec-color);
  height: 500px;
  border-radius: 20px;
}
.projects .container .pro .image{
  width:80%;
  height: 40%;
  display: block;
  margin: 30px auto;
}
.projects .container .pro img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.projects .container .pro .text{
  padding: 20px;
  text-align: center;
}
.projects .container .pro .text h3{
  margin: 0;
}
.projects .container .pro .text p{
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 0;
}
.projects .container .pro .button {
  text-align: center;
}
.projects .container .pro .button button{
  background-color: var(--main-color);
  color: var(--section-background);
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 55%;
}
/*end projects*/
/*start footer*/
.footer {
  background-color: var(--main-color);
  color: white;
  padding: 40px 0;
  text-align: center;
  font-size: 18px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer .contact-info p {
  margin: 5px 0;
}

.footer .contact-info i {
  margin-right: 10px;
  color: var(--sec-color);
}

.footer .social-icons a {
  color: var(--sec-color);
  margin: 0 10px;
  font-size: 24px;
  transition: 0.3s;
}

.footer .social-icons a:hover {
  color: #DE9A35;
  transform: scale(1.2);
}

.footer .copyright {
  margin-top: 20px;
  font-size: 16px;
  color: #f9e0bb;
}
/* ---------------------media----------------------- */
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container { width: 970px; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container { width: 750px; }
}
/* Larg */
@media (max-width: 2000px) {
  /*hedear*/
  header .container2{
    display: none;
  }
}
/* medium */
@media ((min-width: 769px) and (max-width: 992px)) {
  /*hedear*/
  header .container2{
    display: none;
  }
  /* Landing  */
  .landing .image {
    width: 330px;
    margin-left: 213px;
  }
  .landing p {
    font-size: 25px;
    letter-spacing: 1px;
  }
  .landing p:first-of-type {
    margin-left: 293px;
    margin-top: 67px;

  }
  .landing p:nth-child(2) {
    margin-left: 269px;
    margin-top: 95px;
    z-index: 1;
  }
  .landing p:nth-child(3) {
    margin-left: 430px;
    margin-top: 95px;
    z-index: 1;
  }
  .landing .button{
    margin-top: 250px;
    margin-left: 550px;
}
.landing .button button{
  width: 110px;
  height: 35px;
}
.landing .text {
          width: 300px;
        font-size: 13px;
        margin-top: 178px;
        margin-left: -71px;
}
  /* Education */
  .education .container {
    flex-direction: column;
    text-align: center;
  }
  .education .image img {
    margin: 0 auto 60px;
  }
}

/* smol */
@media (max-width: 768px) {
  /* Container */
  .container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* header */
  header .container1 {
    display: none;
  }
  header .container2{
    display: flex;;
  }

  /* Landing  */
  .landing {
    margin-top: 60px; 
  }
  .landing .image {
    width: 225px;
    margin-left: 20px;
  }
  .landing p {
    font-size: 25px;
    letter-spacing: 1px;
  }
  .landing p:first-of-type {
    margin-left: 53px;
    margin-top: 68px;
  }
  .landing p:nth-child(2) {
    margin-left: 36px;
    margin-top: 96px;
    z-index: 1;
  }
  .landing p:nth-child(3) {
    margin-left: 170px;
    margin-top: 96px;
    z-index: 1;
  }
  .landing .button{
    display: none;
    margin-top: 200px;
    margin-left: 250px;
}
.landing .text {
  display: none;
  width: 270px;
        font-size: 10px;
        margin-top: 145px;
        margin-left: -240px;
}
  /* Education */
  .education .container {
    flex-direction: column;
    text-align: center;
  }
  .education .image img {
    margin: 0 auto 60px;
  }

  /* Experience */
  .experience .container .ex {
    flex-direction: column;
    text-align: center;
  }
  .experience .container .ex i {
    display: block;
    margin: 0 auto 10px;
    flex-basis: auto;
  }

  /* Footer */
  .footer .container {
    gap: 15px;
  }
  .footer .social-icons a {
    font-size: 20px;
    margin: 0 8px;
  }
}
